.computer
{
	font-size: 1.2em;
} 
.computer {}

.computer{
	font-size:3.3em;
	text-align: center;
}

body {
	background-image: url("google.jpg");
	color:white;
}


h2 {

	font-style: italic;
	
	margin-left: 100px;


}
.gov{margin-left: 100px; 
	 color: blue;}

li {margin-left: 100px;}

.text li {font-style: italic;} 

.gov {font-size:smaller;}

.redcolor {color: yellow}


img {width: 150px;} 
